/* .ant-input {
  background-color: #f0f0f0;
}
.ant-input-affix-wrapper {
  background-color: #f0f0f0;
}
 */
.ant-form-item {
  margin-bottom: 24px;
}

.ant-typography {
  margin-bottom: 24px;
}

h4 {
  margin-bottom: 24px;
}
