/* .ant-select {
  width: 220px;
  border: 2px solid #1579e9;
  border-radius: 5px;
  background-color: transparent;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent !important;
  border: 0 !important;
}
.ant-select-arrow {
  color: black !important;
}
 */